@tailwind base;

@tailwind components;

@tailwind utilities;

country-detail a {
  @apply text-blue-500;
}
country-detail a:hover {
  @apply text-green-500 font-bold;
}

footer a:hover {
  @apply font-bold;
}

.country-item {
  @apply max-w-sm w-full rounded overflow-hidden shadow-lg;
}

.country-item table {
  @apply overflow-auto;
}

.country-item:hover {
  cursor: pointer;
  @apply shadow-2xl;
}

.country-container {
  @apply px-4 py-6 mx-auto grid grid-cols-1 gap-4;
}

tr {
  @apply border;
}
td {
  @apply px-4 py-2 text-gray-700 text-sm;
}
td:first-child {
  @apply w-3/5;
}

td:nth-child(2) {
  @apply w-2/5;
}

.detail-container {
  @apply px-4 py-6 mx-auto grid grid-cols-1 gap-4;
}

.detail-container td {
  @apply border px-4 py-2;
}

.country-detail {
  @apply px-4 py-6 mx-auto grid grid-cols-1 gap-6;
}

@screen sm {
  .country-container {
    @apply grid-cols-2;
  }
}

@screen md {
  .country-container {
    @apply grid-cols-2;
  }
  .country-detail {
    @apply grid-cols-2 gap-8;
  }
}

@screen lg {
  .country-container {
    @apply grid-cols-3;
  }
  .country-detail {
    @apply grid-cols-2 gap-8;
  }
}

@screen xl {
  .country-container {
    @apply grid-cols-4;
  }
  .country-detail {
    @apply grid-cols-2 gap-8;
  }
}
